.card {
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  overflow: hidden;
  text-align: center;
  border: 1px solid #DDD;
}

.card:hover {
  background-color: #DDD;
}

.card-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
  cursor: pointer;
}

.card-img-container img {
  width: 50%;
  border-radius: 50%;
  height: auto;
}

.card-list span {
  font-weight: bold;
}

.card-list span:hover {
  font-weight: bold;
}

.card-title {
  cursor: pointer;
}
